@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap');

* {
  --shadow : 4px 4px 6px var(--color-light-shadow);
  --color-light : #e2ecf1;
  --color-light-shadow : hsl(200, 15%, 40%);
  --color-dark : #0284c7;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 180px 1fr;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  background-color: var(--color-dark);
  min-height: 200px;
  grid-row: 1/3;
  color: white;
  padding: 16px;
}

.branding {
  color: white;
  display: flex;
  align-items: center;
}
.branding h1 {
  font-size: 1.5rem;
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
}

.brand-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.sidebar>nav ul{
  list-style-type: none;
}
ul>li:hover,
.card>h3,
.announcements>h3,
.profilepic,
.notification {
  cursor: pointer;
}

.menu-icon {
  vertical-align: middle;
}

.sidebar svg {
  margin: 10px 10px 10px 0;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
}

.search {
  display: flex;
  align-items: center;
}

.header input[type="search"] {
  background-color: var(--color-light);
  border: none;
  border-radius: 16px;
  flex: 1;
  padding: 4px;
  margin: 4px;
}

.user-welcome {
  display: flex;
  align-items: center;
}

.user-welcome > .profilepic {
  margin-right: 20px;
}

.user-welcome p {
  font-weight: bold;
  margin: 4px;
}

.user-welcome p.large {
  font-size: 1.4rem;
}

.widgets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  background-color: var(--color-dark);
  color: white;
  font-weight: bold;
  font-size: 0.85rem;
  border: none;
  padding: 8px 16px;
  border-radius: 16px;
}

button:hover {
  cursor: pointer;
  background-color: #006ea5;
}

.profilepic {
  border-radius: 50%;
  width: 60px;
}

.profilepic.small {
  width: 2.5rem;

}

.main-content {
  background-color: var(--color-light);
  min-height: 200px;
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
}

.card-outer {
  grid-row: 1/3;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  border-left: 8px solid #ff6118;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  font-size: 0.95rem;
}

.card .icons {
  text-align: end;
}

.announcements {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--shadow);
}

.announcements p {
  font-size: 0.8rem;
}